.cart-item {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid gray;

  .cart-item-container {
    padding: 10px;
    display: flex;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    .img-item {
      img {
        height: auto;
        max-height: 100%;
        width: 100%;
      }
    }
    .center-item {
      margin-left: 15px;
      .infor-item {
        float: left;
      }
      .right-item {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        .price-item {
          margin-right: 20px;
        }
      }
    }
  }
}
