body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: rgb(106, 165, 165);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
