.product-price {
    margin-bottom: 10px;
}
.price {
    font-weight: bold;
}
.prev-price {
    text-decoration: line-through;
    margin-left: 10px;
}
.details-img {
    width: 100%;
    height: auto;
    max-height: 300px;
}
